body{
    background-color:black;
}
img{
    height: 500px;
    width: 500px;
    padding-left: 90px;
    padding-top: 50px;
}
.img{
    padding-left: 400px;
}
.a{
    float: right;

    padding-top: 200px;
    padding-right: 400px;
    color: rgb(248, 245, 245);
}
button{
    background-color: rgb(236, 136, 14);
    border: 1px;
    cursor: pointer;
}
.features{
    margin-top:30px;
    display: flex;
    gap: 300px;
    padding-left: 200px;
    color: rgb(240, 241, 243);
} 
.feature:hover{
    transition: 0.2s ease-in-out;
    box-shadow: 5px 5px 5px rgba(247, 244, 244, 0.858);
}
.center-button{
    align-items: center;
}
.menu{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 50px 0;
    height: 70px;
    width: 70px;
}
h2{
    color: aliceblue;
}
.grid-image{
    border-radius: 10px;
}
.grid-image:hover{
    transform: scale(1.05);
}
.grid{
    display: grid;
    justify-content: center;
    grid-template-areas: 
    "I1 I1 I2 I3"
    "I1 I1 I2 I7"
    "I4 I5 I6 I7";
}
.item1{
    grid-area: I1;
    padding-left: 100px;

}
.item2{
    grid-area: I2;
    padding-right: 100px;
}
.item3{
    grid-area: I3;
    padding-right: 100px;
}
.item4{
    grid-area: I4;
    padding-left: 20px;
}
.item5{
    grid-area: I5;
    padding-left: 40px;
}
.item6{
    grid-area: I6;
    padding-left: 100px;
}
.item7{
    grid-area: I7;
    padding-left: 50px;
}
footer{
    display: flex;
    gap: 50px;
    padding: 10px;
    justify-content:right;
}
.icon_container{
    display: flex;
    gap: 8px;
    font-size: 32px ;
    justify-items:left;
}